<h1>Recent Volunteer Newsletters</h1>

<style type="text/css">
<!--
.display_archive {font-family: arial,verdana; font-size: 12px;}
.campaign {line-height: 125%; margin: 5px;}
//-->
</style>
<script language="javascript" src="//ophrescue.us4.list-manage.com/generate-js/?u=<%= ENV['MAILCHIMP_VNA_USER'] %>&fid=<%= ENV['MAILCHIMP_VNA_LIST_ID']%>&show=50" type="text/javascript"></script>
